{{#if (isAllowed @root.session.permissions ticketTemplate._id 'list')}}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{ticketTemplate.title}}一览
    <small>所有工作票一览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{{{url 'dashboard.index'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">List</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      {{#if message}}
      <div class="alert alert-info alert-dismissable" style="width:600px" >
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{{message}}}
      </div>
      {{/if}}
      <div class="box">
        <div class="box-header search-area">
          {{#if (isAllowed @root.session.permissions ticketTemplate._id 'add')}}
          <a href="/crud/{{ticketTemplate._id}}/new" class="btn btn-xs btn-success">
            <i class="fa fa-wrench"></i>
            {{ticketTemplate.title}}工作票
          </a>
          {{/if}}
          <div class="box-tools">
            <form class="input-group input-group-sm" style="width: 150px;">
              <input type="hidden" name="page" id="page" value="{{req.query.page}}" />
              <input type="text" id="keyword" name="keyword" class="form-control pull-right" placeholder="Search" value="{{req.query.keyword}}"/>

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default search"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>内容</th>
              <th>进度</th>
              <th>发起用户</th>
              <th>发起时间</th>
              <th>操作</th>
            </tr>
            {{#each list }}
            <tr>
              <td>
                <a href="/crud/{{this.ticket_template._id}}/{{this._id}}">
                  {{#if this.delete_flag}}
                  <s>
                    {{/if}}
                    {{#if (eq this.progress '处理完毕')}}
                    <i class="fa fa-ticket" aria-hidden="true"></i>
                    {{else}}
                    <i class="fa fa-ticket fa-spin" aria-hidden="true"></i>
                    <b>
                      {{/if}}
                      {{{this.content}}}
                      {{#if (eq this.progress '处理完毕')}}
                      {{else}}
                    </b>
                    {{/if}}
                    {{#if this.delete_flag}}
                  </s>
                  {{/if}}
                </a>
              </td>
              <td>
                {{this.progress}}
              </td>
              <td>
                {{#if this.company}}
                <a href="/crud/company/{{this.company._id}}">
                  {{this.company.company_name}}
                </a>
                {{/if}}
                {{#if this.from_user}}
                <a href="/crud/user/{{this.from_user._id}}">
                  <img src="{{avatar @root.config.file_url this.from_user.avatar}}" class="img-circle size25">
                  ({{this.from_user.fullname}})
                </a>
                {{/if}}
                {{#if this.from_admin}}
                <a href="/crud/admin/{{this.from_admin._id}}">
                  <img src="{{avatar @root.config.file_url this.from_admin.avatar}}" class="img-circle size25">
                  {{this.from_admin.fullname}}
                </a>
                {{/if}}
              </td>
              <td>
                {{ymd create_date 'YYYY-MM-DD HH:mm:ss'}}</td>
              </td>
              <td>
                {{#if (isAllowed @root.session.permissions this.ticket_template._id 'edit')}}
                <a href="/crud/{{this.ticket_template._id}}/{{this._id}}/edit" class="btn btn-xs btn-success">
                  <i class="fa fa-pencil"></i>
                  修改
                </a>
                {{/if}}
                {{#if (isAllowed @root.session.permissions this.ticket_template._id 'delete')}}
                <a href="#" class="btn btn-xs btn-danger" data-href="/crud/{{this.ticket_template._id}}/{{this._id}}?_method=delete">
                  <i class="fa fa-remove"></i>
                  删除
                </a>
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          {{{paginationView pagination}}}
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- /.section -->
{{#extend 'scripts'}}
<script>  
 $(function () {
   // Delete ticket button
    var uri;
    $('.btn-danger').click(function(){
      uri = $(this).attr('data-href');
    });
    $('.btn-danger').confirmation({
      animation: true,
      placement: "left",
      title: "确定要删除此数据吗?",
      btnOkLabel: '确定',
      btnCancelLabel: '取消',
      onConfirm: function (event) {
        event.preventDefault();
        $.post(uri, function(response) {
         window.location.href = '/crud/{{ticketTemplate._id}}s';
        });
      },
  });

   function search() {
     var page = $('#page').val();
     var keyword = $('#keyword').val();

     var queryString = '/crud/{{ticketTemplate._id}}s?a=1';
     if (page) {
       if (queryString.indexOf('?') >= 0) {
         queryString += '&page=' + page;
       } else {
         queryString += '?page=' + page;
       }
     }
     if (keyword) {
       if (queryString.indexOf('?') >= 0) {
         queryString += '&keyword=' + keyword;
       } else {
         queryString += '?keyword=' + keyword;
       }
     }

     window.location.href = queryString;
   }

   $('.pageList').click(function(){
     var $this = $(this);
     var id = $this.data('id');
     $('#page').val(id);
     search();
   });
   $('.search').click(function(){
     $('#page').val(1);
     search();
   });
 });
</script>
{{/extend}}
{{else}}
您还没有此功能的访问权限
{{/if}}
